.hero-container {
    height: 480px;
    width: 100%;
    max-width: 1440px;
    background-image: url(./Astronaut_Darkened\ 1.png);
    background-size: cover;
    background-position: 20%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-content {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #F7F7F7;
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
    padding-left: 24px;
}

.hero-heading {
    margin: 0;
    font-size: 56px;
    line-height: 67.2px;
}
