
.nav-bar {
    background-color: #5856D6;
    width: 100%;
    height: 75px;
}

.nav-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
    height: 75px;
}

.logo {
    display: flex;
    align-items: center;
}

#logo-svg {
    height: 51px;
    width: 50px;
    background-image: url(./Rocket-Icon.svg);
    margin-right: 12px;
}

#logo-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #F9F9F9;
    font-size: 24px;
    line-height: 29px;
    cursor: pointer;
}

.nav-link-container {
    display: flex;
    flex-direction: row;
}

.nav-link {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #F7F7F7;
    line-height: 29px;
    padding-left: 20px;
    cursor: pointer;
}

@media screen and (max-width: 640px) {
    .nav-content {
        width: 100%;
    }
    .nav-link-container {
        display: none;
    }
    .menu-closed {
        background-image: url(./Hamburger-Icon.svg);
        height: 31px;
        width: 52px;
        cursor: pointer;
    }
    .menu-open {
        display: block;
        background-image: url(./Vector.svg);
        height: 31px;
        width: 31px;
        cursor: pointer;
    }
    .mobile-menu-container {
        position: absolute;
        width: 87%;
        background-color: #FFFFFF;
        left: 0;
        display: flex;
        flex-direction: column;
        top: 75px;
        height: 100vh;
    }
    .media-nav-link-container {
        padding: 0px 24px;
    }
    .nav-link {
        color: #53575A;
        padding-left: 0px;
        border-bottom: 2px solid #E2E2E2;
        padding: 12px 0px;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .mobile-vector {
        background-image: url(./Vector-Stroke.svg);
        width: 11px;
        height: 18px;
        background-size: cover;
        background-repeat: no-repeat;
        filter: invert(50%);
    }
}

