.gallery-page {
    background-color: #F9F9F9;
    width: 100%;
    height: 100%;
    padding-bottom: 48px;
    margin: 0;
}

.gallery-container {
    padding: 12px 24px;
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.task-container {
    background-color: gray;
}

.three-four {
    width: 31%;
    margin: 20px 0;
}

.completion-bar-container {
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
    padding-top: 10px;
    height: 100%;
    padding: 12px 24px;
}

@media screen and (max-width: 1294px) {
    .three-four {
        width: 48%;
        margin: 20px 0;
    }
}

@media screen and (max-width: 860px) {
    .three-four {
        width: 100%;
        margin: 20px 0;
    }
    .gallery-container {
        padding: 6px 0px;
    }
    .task-container {
        margin: 10px 0px;
    }
    .completion-bar-container {
        width: 90%;
        height: fit-content;
        margin: 0px auto;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 565px) {
    .completion-bar-container {
        width: 100%;
    }
}