
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Montserrat:wght@700&display=swap');

* {
  box-sizing: border-box;
  list-style: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.button {
  width: 120px;
  height: 41px;
  margin: 12px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #F7F7F7;
  border: none;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.8px;
  cursor: pointer;
}

.light-blue {
  background-color: #5AC8FA;
}

.gray {
  background-color: #CCCCCC;
}